*.pyc
django_tinycontent.egg-info/
docs/_build/
dist/
*.egg
.eggs/
coverage.xml
build/
.coverage
test.db
tests/testmedia/
.cache/
.pytest_cache/
.ruff_cache/
demo/db.sqlite3
demo/media/tinycontent/uploads/*
!demo/media/tinycontent/uploads/sample.txt
.env
